/* Some padding are due to fonts issues. Titles like "Announcements" can't be centered correclty inside their divs. */
/* Lot of ID for a lot of grid area so needed to call element in CSS to give them position */
/* Declaring height for body child for responsivness. */
/* Clamp width for responsiveness */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Borel", sans-serif;
}

html {
  height: 100dvh;
}

body {
  background-color: aquamarine;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: "sidebar header" "sidebar header" "sidebar maincontent" "sidebar maincontent" "sidebar maincontent" "sidebar maincontent" "sidebar maincontent" "sidebar maincontent" "sidebar maincontent" "sidebar maincontent";
}

#sidebar {
  font-family: "Borel", sans-serif;
  background-image: linear-gradient(to right top, #fdf5e6, #f0e3cf, #e5d1ba, #dabfa5, #cfad91, #cca18d, #c7968c, #bf8b8c, #b1889a, #9d88a2, #8789a1, #778899);
  border-right: 1px solid burlywood;
  grid-area: sidebar;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: min-content 1fr 1fr;
  gap: 32px;
}
#sidebar #logo {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 75px 1fr;
  grid-template-rows: min-content;
}

#logo {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 75px 1fr;
  grid-template-rows: min-content;
}

#logo #dashboard {
  align-self: flex-end;
}
#logo img {
  width: 75px;
  height: 75px;
}

.menu {
  display: grid;
  grid-auto-flow: row;
  padding-left: 32px;
}
.menu ul li {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 32px min-content;
  align-items: center;
  justify-items: left;
}
.menu ul li img {
  align-self: baseline;
}

#header {
  background-color: oldlace;
  font-family: "Borel", sans-serif;
  border-bottom: 1px solid burlywood;
  padding-left: 16px;
  padding-top: 16px;
  grid-area: header;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "searchbar profile" "hithere buttons";
  justify-items: flex-start;
  align-items: center;
}
#header #searchbar {
  grid-area: searchbar;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
#header #searchbar input {
  background-color: lavenderblush;
  width: 60rem;
  height: 1.5rem;
  border-radius: 14px;
  padding-left: 16px;
  width: clamp(100px, 50vw, 1499px);
}
#header #searchbar img {
  grid-column: 2;
  width: 75%;
}
#header #profile {
  grid-area: profile;
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: "notif avatar pseudo";
  gap: 8px;
}
#header #hithere {
  grid-area: hithere;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "avatar hitheretxt" "avatar pseudo";
}
#header img {
  width: 50px;
  height: 50px;
}
#header .pseudo {
  grid-area: pseudo;
  padding-left: 16px;
  font-size: 1.25rem;
}
#header #buttons {
  grid-area: buttons;
  justify-self: center;
  align-self: center;
  display: flex;
  gap: 12px;
  align-items: center;
}
#header .buttons {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: linear-gradient(to bottom, #fdf5e6, #f0e3cf, #e5d1ba, #dabfa5, #cfad91, #cca18d, #c7968c, #bf8b8c, #b1889a, #9d88a2, #8789a1, #778899);
  border: 1px solid;
  border-radius: 16px;
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

#profile #notif {
  grid-area: notif;
}
#profile #avatarprofile {
  grid-area: avatar;
}
#profile #pseudoprofile {
  grid-area: pseudo;
  align-self: flex-end;
}

#hithere img {
  grid-area: avatar;
}
#hithere #hitheretxt {
  grid-area: hitheretxt;
  padding-left: 16px;
  font-size: 0.8rem;
}

#maincontent {
  background-color: antiquewhite;
  grid-area: maincontent;
  overflow: auto;
  display: grid;
  padding: 4px;
  grid-template-rows: 32px 1fr 32px 1fr;
  grid-template-columns: 4fr 1fr;
}
#maincontent #articles {
  grid-column: 1;
  grid-row: 2/5;
  display: grid;
  gap: 4px;
  padding: 4px;
  width: 100%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.carditem {
  background-color: ghostwhite;
  border: 1px solid;
  border-width: 0 0 0 10px;
  border-radius: 10px;
  -o-border-image: url(codioful-formerly-gradienta-LeG68PrXA6Y-unsplash.jpg) 30;
     border-image: url(codioful-formerly-gradienta-LeG68PrXA6Y-unsplash.jpg) 30;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  color: black;
  font-family: "Borel", sans-serif;
  font-size: 1.25rem;
  padding: 12px;
  height: 200px;
  width: 500px;
}

#pt {
  grid-row: 1;
}

#at {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
}

#tt {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  padding-top: 5px;
}

#annoucements {
  background-color: white;
  border-radius: 15px;
  width: 80%;
  font-size: 12px;
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-auto-flow: row;
  justify-self: center;
  grid-template-rows: repeat(3, 1fr);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bold {
  font-weight: 600;
}

.announcementsboxs {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 10px;
}

#annbox1 {
  position: relative;
  grid-row: 1;
}
#annbox1:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 75%;
  border-bottom: 1px solid burlywood;
}

#annbox2 {
  grid-row: 2;
  position: relative;
}
#annbox2:after {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 75%;
  border-bottom: 1px solid burlywood;
}

#annbox3 {
  grid-row: 3;
}

#trendingbox {
  background-color: white;
  border-radius: 15px;
  width: 80%;
  grid-row: 4;
  grid-column: 2;
  display: grid;
  grid-auto-flow: column;
  justify-self: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 4px;
  justify-items: center;
  align-items: center;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.avatar {
  width: 50px;
  height: 50px;
}

#boy1 {
  grid-column: 1;
  grid-row: 1;
}

#boy2 {
  grid-column: 1;
  grid-row: 2;
}

#girl1 {
  grid-column: 1;
  grid-row: 3;
}

#girl2 {
  grid-column: 1;
  grid-row: 4;
}

#pseudo {
  justify-self: flex-start;
}/*# sourceMappingURL=styles.css.map */